@page "{id}"
@using Core.Convertors
@using DataLayer.Entities.Users
@model Web.Pages.Admin.Users.EditUserModel

@{
    ViewData["Title"] = "ویرایش کاربران ";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش کاربران </h1>
    </div>
</div>
@if (ViewData["IsSuccess"] != null)
{
    <div class="alert alert-danger">
        <p class="help-block">عملیات با شکست مواجه شد</p>
    </div>
}
<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="EditUser.UserId" />
    <input type="hidden" asp-for="EditUser.OldUserAvatarName" />


    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    اطلاعات کاربر
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    
                    <div class="form-group col-md-8">
                        <label>نام کاربری :</label>
                        <input type="text" asp-for="EditUser.UserName" class="form-control" readonly>
                        <span asp-validation-for="EditUser.UserName" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="form-group col-md-3">
                        <label>تاریخ ثبت نام :</label>
                        <p class="help-block">@Model.EditUser.RegisterDate.ToShamsiWithTime()</p>
                    </div>

                    <div class="form-group col-md-8">
                        <label>ایمیل :</label>
                        <input type="email" asp-for="EditUser.Email" class="form-control" readonly>
                        <span asp-validation-for="EditUser.Email" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="form-group col-md-8">
                        <label>کلمه عبور :</label>
                        <input type="text" asp-for="EditUser.Password" class="form-control">
                        <span asp-validation-for="EditUser.Password" class="text-danger"></span>
                        <p class="help-block">*درصورت وارد کردن مقدار , کلمه عبور کاربر تغیر خواهد کرد!</p>
                        <br />
                    </div>

                    <div class="form-group col-md-6">
                        <label>نام  :</label>
                        <input type="text" asp-for="EditUser.FirstName" class="form-control">
                        <span asp-validation-for="EditUser.FirstName" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="form-group col-md-6">
                        <label>نام خانوادگی :</label>
                        <input type="text" asp-for="EditUser.LastName" class="form-control">
                        <span asp-validation-for="EditUser.LastName" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="form-group col-md-8">
                        <label>شماره موبایل :</label>
                        <input type="number" asp-for="EditUser.PhonNumber" class="form-control">
                        <span asp-validation-for="EditUser.PhonNumber" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="form-group col-md-5">
                        <label>وضعیت :</label>
                        <select asp-for="EditUser.IsActive" class="form-control">
                            <option value="2">انتخاب کنید</option>
                            <option value="1">فعال</option>
                            <option value="2">غیر فعال</option>
                            <option value="3">فعال سازی با ایمیل</option>
                        </select>
                        <span asp-validation-for="EditUser.IsActive" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="form-group col-md-4">
                        <label>جنسیت :</label>
                        <select asp-for="EditUser.GenderId" class="form-control">
                            <option value="0">انتخاب کنید</option>
                            <option value="1">مرد</option>
                            <option value="2">زن</option>
                            <option value="3">غیره</option>
                        </select>
                        <span asp-validation-for="EditUser.GenderId" class="text-danger"></span>
                        <br />
                    </div>


                    <div class="form-group col-md-8">
                        <label>کیف پول کاربر :</label>
                        <input type="number" asp-for="EditUser.AddWallet" class="form-control" value="0">
                        <span asp-validation-for="EditUser.AddWallet" class="text-danger"></span>
                        <p class="help-block">*درصورت وارد کردن مقدار کیف پول کاربر شارژ خواهد شد!</p>
                        <br />
                    </div>



                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            تصویر پروفایل
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <div class="form-group align-items-center">
                                <img src="/UserAvatar/thumb/@Model.EditUser.OldUserAvatarName" class="thumbnail" id="imgUser"
                                     alt="User Imag" title="User Image" style="max-width:100%;" />
                            </div>
                            <div class="form-group">
                                <label>انتخاب تصویر :</label>
                                <input asp-for="EditUser.UserAvatar" type="file">
                                <span asp-validation-for="EditUser.UserAvatar" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>



                @{
                    List<Role> roles = ViewData["Roles"] as List<Role>;
                }


                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            نقش های کاربر
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <div class="form-group">

                                @foreach (Role role in roles)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="SelectedRoles"
                                               @((Model.EditUser.UserRoles.Any(ur=>ur==role.RoleId))?"checked":"")
                                                value="@role.RoleId">@role.RoleTitle
                                        </label>
                                    </div>
                                }

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <input type="submit" class="btn btn-success" value="ویرایش کاربر" />
        </div>
    </div>
</form>



@section Scripts{
    <script>

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgUser').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#EditUser_UserAvatar").change(function () {
            readURL(this);
        });
    </script>
}