@page "{id}"
@model Web.Pages.Admin.Roles.DeleteRoleModel
@using Core.Convertors
@{
    ViewData["Title"] = "حذف نقش";
    List<string> permissionTitel = ViewData["PermissionTitle"] as List<string>;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">حذف نقش</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
               اطلاعات نقش
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <dl class="dl-horizontal">
                    <dt>عنوان نقش :</dt>
                    <dd>@Model.Role.RoleTitle</dd>
                    <br />

                    <dt>تاریخ ایجاد :</dt>
                    <dd>@Model.Role.CreateDate.ToShamsi()</dd>
                    <br />


                    @if (ViewData["PermissionTitle"] != null)
                    {
                        <dt>دسترسی های نقش:</dt>
                        <dd>
                            @foreach (var item in permissionTitel)
                            {
                                @item
                                <i> - </i>
                            }
                        </dd>
                        <br />
                    }
                    <br />
                    <dt>
                        <a href="/Admin/Role" class="btn btn-info">انصراف</a>
                    </dt>
                    <dd>
                        <form method="post">
                            <input type="hidden" asp-for="Role.RoleId" />

                            <input type="submit" class="btn btn-danger" value="حذف نقش" />
                        </form>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>