@page
@using Core.Convertors
@using Core.Services.Interfaces
@model Web.Pages.Admin.Roles.IndexModel


@{

    ViewData["Title"] = "مدریت نقش ها";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">مدریت نقش ها</h1>
    </div>
</div>


<div class="container">
    <a href="/Admin/Roles/CreateRole" class="btn btn-success btn-outline">افزودن نقش جدید</a>
</div>

<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست نقش ها
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <form>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div id="dataTables-example_filter" class="dataTables_filter">
                                        <label>
                                            <input type="search" name="roleFilter" class="form-control" placeholder="نام نقش" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" class="btn btn-sm btn-info" value="اعمال" />
                                    <a class="btn btn-sm btn-warning" href="/Admin/Roles">حذف فیلتر</a>
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer"
                               id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th>#</th>
                                    <th>نام نقش</th>
                                    <th>تاریخ ایجاد</th>
                                    <th>دستورات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int v = 0;
                                }
                                @foreach (var role in Model.RoleList)
                                {
                                    <tr>
                                        <td>@(++v)</td>
                                        <td>@role.RoleTitle</td>
                                        <td>@role.CreateDate.ToShamsi()</td>
                                        <td>
                                            <a href="/Admin/Roles/EditRole/@role.RoleId" class="btn btn-warning btn-outline btn-sm">ویرایش</a>

                                            <a href="/Admin/Roles/DeleteRole/@role.RoleId" class="btn btn-danger btn-outline btn-sm">حذف</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>