@page "{id?}"
@model Web.Pages.Admin.ProductGroups.CreateGroupModel
@{
    ViewData["Title"] = "افزودن گروه جدید";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن گروه جدید</h1>
    </div>
</div>
<form method="post">

    <input type="hidden" asp-for="ProductGroups.ParentId" />


    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    اطلاعات گروه
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->


                    <div class="form-group col-md-8">
                        <label>عنوان گروه :</label>
                        <input type="text" asp-for="ProductGroups.GroupTitle" class="form-control" />
                        <span asp-validation-for="ProductGroups.GroupTitle" class="text-danger"></span>
                    </div>


                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <input type="submit" class="btn btn-success" value="افزودن گروه" />
        </div>
    </div>
</form>
