@model Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}


<br />
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">نقره یکتائی</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ul>
    </nav>
</div>


<main class="container">
    <div class="row">
        <div class="register-site col-lg-6">
            <div class="register-panel-page">


                @if (ViewBag.IsSuccess == true)
                {
                    <div class="alert alert-success">
                        <p class="help-block">ایمیل باز یابی کلمه عبور به ایمیل شما ارسال شد !</p>
                    </div>
                    <script>
                        // Your delay in milliseconds
                        var delay = 5000;
                        setTimeout(function () { window.location = "/"; }, delay);
                    </script>
                }
                else if (ViewBag.IsSuccess == false)
                {
                    <div class="alert alert-danger">
                        <p class="help-block">اطلاعات وارد شده صحیح نمیباشد !</p>
                    </div>
                }


                <div class="register-panel-top">
                    <div class="register-panel-title">
                        <h2>
                            بازیابی کلمه عبور
                        </h2>
                        <p>
                            در صورت فراموش کردن کلمه عبور خود ایمیل خود را وارد کرده .
                            ایمیلی حاویی لینک بازیابی کلمه عبور به ایمیل شما ارسال خواهد شد.
                        </p>
                        <p>
                            درنقره یکتائی  ثبت‌نام نکرده‌اید؟
                            <a href="/Register">
                                ثبت نام کنـید
                            </a>
                        </p>
                    </div>
                    <div class="register-panel-img">
                        <img src="assets/img/Vector Smart Object2.png" alt="">
                    </div>
                </div>
                <form class="register-form" method="post" asp-action="ForgotPassword">



                    <div class="register-form-input">
                        <input type="email" asp-for="@Model.Email" placeholder="ایمیل">
                        <div class="register-form-context">
                            <i class="fa fa-envelope-o "></i>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    <br />


                    <input type="submit" id="submitForm" hidden />
                    <div class="register-page-button">
                        <a href="#" onclick="document.getElementById('submitForm').click()" class="reg-cta">
                            <i class="fa fa-send" aria-hidden="true"></i>
                            <span>
                                تایید و ارسال 
                            </span>
                        </a>
                    </div>
                    <br />


                </form>
            </div>
        </div>
    </div>
</main>
<br />
<br />
<br />
