<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>نقره یکتائی</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/fontim.mins.css" rel="stylesheet" />
    <link href="assets/css/fontim-codes.css" rel="stylesheet" />
    <link href="assets/css/fontim-ie7.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/menu.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="container-fluid top-bar">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="log-reg-panel col-lg-6 col-md-6 col-sm-12">
                <ul>
                  <li>
                    <a class="login-panel" href="./login.html">
                      <i class="fa fa-sign-in" aria-hidden="true"></i>
                      ورود
                    </a>
                  </li>
                  <li>
                    <a class="register-panel" href="./register.html">
                      <i class="fa fa-user-1" aria-hidden="true"></i>
                      ثبت نام
                    </a>
                  </li>
                </ul>
              </div>
              <div class="social-network col-lg-6 col-md-6 col-sm-12">
                <a href="#">
                  <i class="fa fa-facebook-1" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram-filled" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa fa-twitter-1" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin-1" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-tumbler" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-dribbble" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-skype-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container header-panel">
        <div class="row">
          <div class="site-logo col-lg-4 col-md-12 col-sm-12">
            <div class="logo-img">
              <a href="#">
                <img class="img-fluid" src="assets/img/logo.png" alt="" />
              </a>
            </div>
            <div class="logo-title">
              <h1>نقره یکتائی</h1>
              <h2>ارائه جدیدترین مدل های انواع نقره جات و بدلیجات</h2>
            </div>
          </div>
          <div class="search-panel col-lg-6 col-md-8 col-sm-6">
            <form action="/search">
              <input id="search" type="search" placeholder="جستجو کنید ..." />
              <button>
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
          <div class="cart-panel col-lg-2 col-md-4 col-sm-6">
            <a href="#">
              <div class="cart-text">
                <span class="cart-number">12</span>
                <i class="fa fa-shopping-basket"></i>
                <p>
                  <span>0</span>
                  تومان
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </header>
    <!--======================= End-header ===========================-->
    <!--======================= menu ===========================-->
    <div class="container site-menu">
      <div class="row">
        <div class="Flat_mega_menu">
          <i class="fa fa-menu"></i>
          <input class="mobile_button" type="checkbox" />
          <ul>
            <li class="res-text-menu"><a>منو</a></li>
            <li><a href="./index.html">خانه</a></li>
            <li>
              <a href="#">کلکسیون</a
              ><i class="fa fa-angle-down" aria-hidden="true"></i>
              <ul class="submenu img_container">
                <!-- submenu with image container -->
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p>گردنبند</p>
                    <img src="assets/img/gardanband.png" alt="" />
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">برگه ها</a
              ><i class="fa fa-angle-down" aria-hidden="true"></i>
              <ul class="submenu one_col">
                <!-- submenu with one column -->
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li>
                  <a href="#">لورم ایپسوم</a><i class="fa fa-angle-left"></i>
                  <ul class="submenu one_col">
                    <!-- submenu with one column -->
                    <li><a href="#">لورم ایپسوم</a></li>
                    <li><a href="#">لورم ایپسوم</a></li>
                    <li>
                      <a href="#">لورم ایپسوم</a
                      ><i class="fa fa-angle-left"></i>
                      <ul class="submenu one_col">
                        <!-- submenu with one column -->
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                      </ul>
                    </li>
                    <li><a href="#">لورم ایپسوم</a></li>
                    <li><a href="#">لورم ایپسوم</a></li>
                  </ul>
                </li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
                <li><a href="#">لورم ایپسوم</a></li>
              </ul>
            </li>
            <li><a href="./blog.html">وبلاگ</a></li>
            <li><a href="./404.html">تماس با</a></li>
            <li><a href="./404.html">درباره ما</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--======================= End-menu ===========================-->
    <!--======================= 404 ===========================-->
    <main>
      <div class="container">
        <div class="row">
          <div class="site-404 col-lg-12">
            <div class="site-404-panel">
              <img
                class="img-fluid"
                src="assets/img/Vector Smart Object.png"
                alt=""
              />
              <h3>متاسفانه صفحه موردنظر پیدا نشد!</h3>
              <p>
                صفحه ای که به دنبال آن بودید متاسفانه در دسترس نمی باشد .
                میتوانید با جستجو در سایت به نتایج مشابه دست پیدا کنید و یا به
                صفحه اصلی برگشته و از سایر محصولات نقره یکتائی را ببینید.
              </p>
              <div class="back-site">
                <a href="#"> بازگشت به نقره یکتائی </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--======================= End-404 ===========================-->
    <!--======================= footer ===========================-->
    <footer>
      <div class="container-fluid site-footer">
        <div class="row">
          <div class="container top-footer">
            <div class="row">
              <div class="address-footer col-lg-4 col-md-12 col-sm-12">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است
                </span>
              </div>
              <div class="logo-footer col-lg-5 col-md-12 col-sm-12">
                <img class="img-fluid" src="assets/img/Layer 713.png" />
              </div>
              <div class="call-footer col-lg-3 col-md-12 col-sm-12">
                <div class="call-panel">
                  <h6>yektayisilver@gmail.com</h6>
                  <h6>09146666666</h6>
                  <h6>04135555555</h6>
                </div>
                <i class="fa fa-user-headset" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="container bottom-footer">
            <div class="row">
              <div class="info-footer col-lg-4 col-md-12">
                <h4>درباره فروشگاه نقره یکتایی</h4>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته،
                </p>
              </div>
              <div class="nomad-footer col-lg-5 col-md-12">
                <img class="enomad" src="assets/img/enamad.png" />
                <img class="samandehi" src="assets/img/samandehi.png" />
              </div>
              <div class="footer_link col-lg-3 col-md-12">
                <h4>درباره فروشگاه نقره یکتایی</h4>
                <ul>
                  <li>
                    <a href="#"> تماس با ما </a>
                  </li>
                  <li>
                    <a href="#"> وبلاگ </a>
                  </li>
                  <li>
                    <a href="#"> شیوه های پرداخت </a>
                  </li>
                  <li>
                    <a href="#"> رویه دریافت سفارش </a>
                  </li>
                  <li>
                    <a href="#"> حریم خصوصی </a>
                  </li>
                  <li>
                    <a href="#"> ثبت سفارش </a>
                  </li>
                  <li>
                    <a href="#"> پیگیری سفارش </a>
                  </li>
                  <li>
                    <a href="#"> پرسش و پاسخ </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid copyright">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="copyright-text">
                  <p>
                    کلیه حقوق برای
                    <a href="#">نقره یکتایی</a>
                    محفوظ است و هرگونه کپی برداری پیگرد قانونی دارد©
                  </p>
                </div>
                <div class="pro-theme">
                  <p>طراحی شده توسط : پروتم</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--======================= End-footer ===========================-->
    <script src="assets/js/jquery-2.1.1.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
