<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>نقره یکتائی</title>
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/fontim.mins.css" rel="stylesheet">
	<link href="assets/css/fontim-codes.css" rel="stylesheet">
	<link href="assets/css/fontim-ie7.css" rel="stylesheet">
	<link href="assets/css/owl.carousel.min.css" rel="stylesheet">
	<link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="assets/css/swiper.min.css" rel="stylesheet">
	<link href="assets/css/menu.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	
</head>
<body>
<!--======================= End-register ===========================-->
	<div class="container">
		<div class="row">
			<div class="register-site col-lg-6">
				<div class="reg-logo-img ">
					<a href="#">
						<img class="img-fluid" src="assets/img/logo.png" alt="">
					</a>
				</div>
				<div class="register-panel-page">
					<div class="register-panel-top">
						<div class="register-panel-title">
							<h2>
								ورود در نقره یکتائی
							</h2>
							<h3>
								اگر قبلا با ایمیل ثبت‌نام کرده‌اید، نیاز به
								.ثبت‌نام مجدد با شماره همراه ندارید
							</h3>
							<p>
								 درنقره یکتائی  ثبت‌نام نکرده‌اید؟
								<a href="#">
									 ثبت نام کنـید
								</a>
							</p>
						</div>
						<div class="register-panel-img">
							<img src="assets/img/Vector Smart Object2.png" alt="">
						</div>
					</div>
					<form class="register-form" action="#" method="">
						<div class="register-form-input">
							<input id="register-username" type="text" name="username" placeholder="نام کاربری" autofocus="">			
							<div class="register-form-context">
								<i class="fa fa-user "></i>
							</div>
						</div>
						<div class="register-form-input">
							<input id="register-password" type="password" name="password" placeholder="کلمه عبور">
							<div class="register-form-context">
								<i class="fa fa-lock "></i>
							</div>
						</div>
					</form>
					<label class="register-form-checkbox">
						<input name="subscribe_newsletter" type="checkbox">
						<span class="register-checkbox-link">
							
							مرا به خاطر بسپار
						</span>
					</label>
					<div class="register-page-button">
						<a href="#" class="reg-cta">
							<i class="fa fa-user-plus " aria-hidden="true"></i>
							<span>
								ورود در نقره یکتایی
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--======================= End-register ===========================-->
	<script src="assets/js/jquery-2.1.1.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/swiper.min.js"></script> 
	<script src="assets/js/script.js"></script> 
</body>
</html>
