
@{
    ViewData["Title"] = "صفحه اصلی";
}

@section Slider{
    <div class="container">
		<div class="row">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img class="img-fluid" src="/assets/image/slider1.png"></div>
					<div class="swiper-slide"><img class="img-fluid" src="/assets/image/bg1.jpg"></div>
					<div class="swiper-slide"><img class="img-fluid" src="/assets/image/images1.jpg"></div>
				</div>
			
			 <div class="swiper-button-next">
				 <i class="fa fa-chevron-right" aria-hidden="true"></i> 
			</div>
			<div class="swiper-button-prev">
				 <i class="fa fa-chevron-left" aria-hidden="true"></i> 
			</div>
			</div>
		</div>
	</div>
}

	<main>
		<div class="container products">
			<div class="row">
				<div class="product-panel col-md-12">
					<div class="product-title">
						<img src="/assets/img/title-top.png" title="">
						<h3>جدیدترین محصولات</h3>
						<img src="/assets/img/title-bottom.png" title="">
					</div>
					<div class="product-menu table">
						<ul>
							<li class="active">
								<a href="#">
									<span>همه</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>انگشتر</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گردنبند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گوشواره</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>دست بند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>ست و نیم ست</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-panel-form owl-carousel ">
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>
								<span class="product-sale">13%</span>
							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
								<span class="old-price"><del>75000 تومان </del></span>
							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row banner-bar">
				<div class="banner-img col-lg-4 col-md-4 col-sm-4 col-4">
					<a href="#">
						<img class="img-fluid" src="/assets/image/Layer 8.png" alt="">
					</a>
				</div>
				<div class="banner-img col-lg-4 col-md-4 col-sm-4 col-4">
					<a href="#">
						<img class="img-fluid" src="/assets/image/Layer 7.png" alt="">
					</a>
				</div>
				<div class="banner-img col-lg-4 col-md-4 col-sm-4 col-4">
					<a href="#">
						<img class="img-fluid" src="/assets/image/Layer 6.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="container products">
			<div class="row">
				<div class="product-panel col-md-12">
					<div class="product-title">
						<img src="/assets/img/title-top.png" title="">
						<h3>جدیدترین محصولات</h3>
						<img src="/assets/img/title-bottom.png" title="">
					</div>
					<div class="product-menu table">
						<ul>
							<li class="active">
								<a href="#">
									<span>همه</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>انگشتر</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گردنبند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گوشواره</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>دست بند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>ست و نیم ست</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-panel-form owl-carousel ">
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>
								<span class="product-sale">13%</span>
							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
								<span class="old-price">75000 تومان</span>
							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
								<span class="old-price">75000 تومان</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container products">
			<div class="row">
				<div class="product-panel col-md-12">
					<div class="product-title">
						<img src="/assets/img/title-top.png" title="">
						<h3>جدیدترین محصولات</h3>
						<img src="/assets/img/title-bottom.png" title="">
					</div>
					<div class="product-menu table">
						<ul>
							<li class="active">
								<a href="#">
									<span>همه</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>انگشتر</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گردنبند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گوشواره</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>دست بند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>ست و نیم ست</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-panel-form owl-carousel ">
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>
								<span class="product-sale">13%</span>
							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
								<span class="old-price">75000 تومان</span>
							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
								<span class="old-price">75000 تومان</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row banner-bar">
				<div class="banner-img col-lg-3 col-md-3 col-sm-3 col-3">
					<img class="img-fluid" src="/assets/image/F1.png" alt="">
				</div>
				<div class="banner-img col-lg-3 col-md-3 col-sm-3 col-3">
					<img class="img-fluid" src="/assets/image/Layer 10.png" alt="">
				</div>
				<div class="banner-img col-lg-6 col-md-6 col-sm-6 col-6">
					<img class="img-fluid" src="/assets/image/Layer 9.png">
				</div>
			</div>
		</div>
		<div class="container products">
			<div class="row">
				<div class="product-panel col-md-12">
					<div class="product-title">
						<img src="/assets/img/title-top.png" title="">
						<h3>جدیدترین محصولات</h3>
						<img src="/assets/img/title-bottom.png" title="">
					</div>
					<div class="product-menu table">
						<ul>
							<li class="active">
								<a href="#">
									<span>همه</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>انگشتر</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گردنبند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گوشواره</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>دست بند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>ست و نیم ست</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-panel-form owl-carousel ">
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>
								<span class="product-sale">13%</span>
							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
								<span class="old-price">75000 تومان</span>
							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container products">
			<div class="row">
				<div class="product-panel col-md-12">
					<div class="product-title">
						<img src="/assets/img/title-top.png" title="">
						<h3>جدیدترین محصولات</h3>
						<img src="/assets/img/title-bottom.png" title="">
					</div>
					<div class="product-menu table">
						<ul>
							<li class="active">
								<a href="#">
									<span>همه</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>انگشتر</span>
								</a>
							</li>
							<li class="">
								<a href="#">

									<span>گردنبند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>گوشواره</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>دست بند</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<span>ست و نیم ست</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-panel-form owl-carousel ">
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>
								<span class="product-sale">13%</span>
							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
								<span class="old-price">75000 تومان</span>
							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>

							</div>
						</div>
					</div>
					<div class="item product-item">
						<div class="product-item-panel">
							<a href="#">
								<div class="header-product">
									<img src="/assets/image/Layer 4.png" alt="" class="product-imag">
									<div class="middle">
										<div class="product-more">
											<a href="#">
												<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											</a>
											<a href="#">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</a>

										</div>
									</div>
								</div>
								<div class="product-text">
									<h4>گوشواره نقره</h4>
								</div>
							</a>
							<div class="product-new-sale">
								<span class="product-new">جدید</span>

							</div>
							<div class="product-Points">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="product-price">
								<span class="main-price">68000 تومان</span>
								<span class="old-price">75000 تومان</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="blog-panel-form owl-carousel owl-theme">
					<div class="item blog-item">
						<div class="blog-text col-lg-6">
							<h4>چگونه نقره و پلاتین را از یکدیگر تشخیص دهیم؟ </h4>
							<p>
								برخی نشانه های هویتی حک شده بر روی قطعه را جستجو کنید که نشان می دهد زیورآلات شما اصل است.زیورآلاتی که از فلزات اصل تهیه شده اند دارای کد یا شماره هایی هستند که در بخشی از قطعه حک می شود تا به خریدار ...
							</p>
							<a href="#">ادامه مطلب</a>
						</div>
						<div class="blog-img col-lg-6">
							<img class="img-fluid" src="/assets/image/Layer 5.png" alt="">
						</div>
					</div>
					<div class="item blog-item">
						<div class="blog-text col-lg-6">
							<h4>چگونه نقره و پلاتین را از یکدیگر تشخیص دهیم؟ </h4>
							<p>
								برخی نشانه های هویتی حک شده بر روی قطعه را جستجو کنید که نشان می دهد زیورآلات شما اصل است.زیورآلاتی که از فلزات اصل تهیه شده اند دارای کد یا شماره هایی هستند که در بخشی از قطعه حک می شود تا به خریدار ...
							</p>
							<a href="#">ادامه مطلب</a>
						</div>
						<div class="blog-img col-lg-6">
							<img class="img-fluid" src="/assets/image/Layer 5.png" alt="">
						</div>
					</div>
					<div class="item blog-item">
						<div class="blog-text col-lg-6">
							<h4>چگونه نقره و پلاتین را از یکدیگر تشخیص دهیم؟ </h4>
							<p>
								برخی نشانه های هویتی حک شده بر روی قطعه را جستجو کنید که نشان می دهد زیورآلات شما اصل است.زیورآلاتی که از فلزات اصل تهیه شده اند دارای کد یا شماره هایی هستند که در بخشی از قطعه حک می شود تا به خریدار ...
							</p>
							<a href="#">ادامه مطلب</a>
						</div>
						<div class="blog-img col-lg-6">
							<img class="img-fluid" src="/assets/image/Layer 5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container brands">
			<div class="row">
				<div class="brand-panel col-md-12">
					<div class="brand-title">
						<img src="/assets/img/title-top.png" title="">
						<h3>برند جواهرات</h3>
						<img src="/assets/img/title-bottom.png" title="">
					</div>
				</div>
				<div class="brand-panel-form owl-carousel ">
					<div class="item brand-item">
						<div class="brand-item-panel">
							<a href="#">
								<div class="img-brand">
									<img src="/assets/image/jewelry-logo-ideas-beautiful-92-beautiful-jewellery-logo-designs-inspiration-of-jewelry-logo-ideas.png" alt="" class="product-imag">
								</div>
							</a>
						</div>
					</div>
					<div class="item brand-item">
						<div class="brand-item-panel">
							<a href="#">
								<div class="img-brand">
									<img src="/assets/image/jewelry-logo-ideas-beautiful-92-beautiful-jewellery-logo-designs-inspiration-of-jewelry-logo-ideas.png" alt="" class="product-imag">
								</div>
							</a>
						</div>
					</div>
					<div class="item brand-item">
						<div class="brand-item-panel">
							<a href="#">
								<div class="img-brand">
									<img src="/assets/image/jewelry-logo-ideas-beautiful-92-beautiful-jewellery-logo-designs-inspiration-of-jewelry-logo-ideas.png" alt="" class="product-imag">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid org-bar">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="org-panel col-lg-3">
							<a href="#">
								<img src="/assets/img/home-icon-1 copy.png" alt="#">
								<p>ظمانت اصل بودن کالا</p>
							</a>
						</div>
						<div class="org-panel col-lg-3">
							<a href="#">
								<img src="/assets/img/home-icon-1 copy.png" alt="#">
								<p>ظمانت اصل بودن کالا</p>
							</a>
						</div>
						<div class="org-panel col-lg-3">
							<a href="#">
								<img src="/assets/img/Forma 1.png" alt="#">
								<p>پشتیبانی 24 ساعته</p>
							</a>
						</div>
						<div class="org-panel col-lg-3">
							<a href="#">
								<img src="/assets/img/home-icon-3.png" alt="#">
								<p>ارسال فوری و رایگان</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>