@model Core.DTOs.ChengePasswordViewModel
@{
    ViewData["Title"] = "تغیر کلمه عبور" + " " + User.Identity.Name;
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">نقره یکتائی</a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغیر کلمه عبور</li>
        </ul>
    </nav>
</div>
<br />

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SidBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="breadcrumb">
                        <header><h1 class="h3"> ویرایش حساب کاربری </h1></header>
                        <div class="inner form-layer">
                            <form method="post" asp-action="EditPassword">

                                
                                <div class="row">


                                    <div class="col-md-7 col-sm-8 col-xs-11">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="fa fa-key"></i></span>
                                            <input type="password" asp-for="OldPassword" class="form-control" placeholder=" کلمه عبور فعلی" aria-describedby="username">
                                        </div>
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        <br />
                                    </div>

                                    <div class="col-md-7 col-sm-8 col-xs-11">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="fa fa-lock-password"></i></span>
                                            <input type="password" asp-for="Password" class="form-control" placeholder=" کلمه عبور جدید" aria-describedby="username">
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <br />
                                    </div>

                                    <div class="col-md-7 col-sm-8 col-xs-11">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="fa fa-lock-password"></i></span>
                                            <input type="password" asp-for="RePassword" class="form-control" placeholder=" تکرار کلمه عبور " aria-describedby="username">
                                        </div>
                                        <span asp-validation-for="RePassword" class="text-danger"></span>
                                        <br />
                                    </div>

                                </div>

                                <input type="submit" id="submitForm" hidden />
                                <div class="register-page-button">
                                    <a href="#" onclick="document.getElementById('submitForm').click()" class="reg-cta">
                                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                                        <span>
                                            ویرایش کلمه عبور
                                        </span>
                                    </a>
                                </div>
                                <br />



                            </form>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>