<div class="container site-menu">
    <div class="row">
        <div class="Flat_mega_menu">
            <i class="fa fa-menu"></i>
            <input class="mobile_button" type="checkbox">
            <ul>
                <li class="res-text-menu"><a>منو</a></li>
                <li><a href="#">خانه</a></li>
                <li>
                    <a href="#">کلکسیون</a><i class="fa fa-angle-down" aria-hidden="true"></i>
                    <ul class="submenu img_container">
                        <!-- submenu with image container -->
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>گردنبند</p>
                                <img src="/assets/img/gardanband.png" alt="">
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">برگه ها</a><i class="fa fa-angle-down" aria-hidden="true"></i>
                    <ul class="submenu one_col">
                        <!-- submenu with one column -->
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li>
                            <a href="#">لورم ایپسوم</a><i class="fa fa-angle-left"></i>
                            <ul class="submenu one_col">
                                <!-- submenu with one column -->
                                <li><a href="#">لورم ایپسوم</a></li>
                                <li><a href="#">لورم ایپسوم</a></li>
                                <li>
                                    <a href="#">لورم ایپسوم</a><i class="fa fa-angle-left"></i>
                                    <ul class="submenu one_col">
                                        <!-- submenu with one column -->
                                        <li><a href="#">لورم ایپسوم</a></li>
                                        <li><a href="#">لورم ایپسوم</a></li>
                                        <li><a href="#">لورم ایپسوم</a></li>
                                        <li><a href="#">لورم ایپسوم</a></li>
                                        <li><a href="#">لورم ایپسوم</a></li>
                                        <li><a href="#">لورم ایپسوم</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">لورم ایپسوم</a></li>
                                <li><a href="#">لورم ایپسوم</a></li>
                            </ul>
                        </li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                        <li><a href="#">لورم ایپسوم</a></li>
                    </ul>
                </li>
                <li><a href="#">تماس با</a></li>
                <li><a href="/Admin">درباره ما</a></li>
            </ul>
        </div>
    </div>
</div>