@model DataLayer.Entities.Users.User


<div style="direction:rtl;padding20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در <a href="#">نقره یکتایی</a> , جهت ادامه کار می بایست حساب کاربری خود را فعال کنید</p>
    <h3 style="color:forestgreen;"><a href="https://localhost:7128/ActiveAccount/@Model.ActiveCode">فعال سازی حساب کاربری !</a></h3>
</div>