@model DataLayer.Entities.Users.User

<div style="direction:rtl;padding20px">
    <h2>@Model.UserName عزیز !</h2>
    <p> جهت بازیابی کلمه عبور خود روی لینک زیر کلیک کنید</p>
    <h3 style="color:forestgreen;"><a href="https://localhost:7128/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور !</a></h3>
</div>