<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>نقره یکتائی | @ViewData["Title"] </title>

    <!--=========== _Style ===========-->
    <partial name="/Views/Shared/Reference/_Style.cshtml" />


    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>

    <!--========== header ===========-->
    <partial name="/Views/Shared/Reference/_Header.cshtml" />


    <!--============= menu =============-->
    <partial name="/Views/Shared/Reference/_Menu.cshtml" />

    <!--============ slider ============-->
    @RenderSection("Slider",false)

    <!--============ main ==============-->
    @RenderBody()

    <!--============ footer =============-->
    <partial name="/Views/Shared/Reference/_Footer.cshtml" />

    <script src="/assets/js/jquery-2.1.1.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/swiper.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
