@model DataLayer.Entities.Users.User
@{
    ViewData["Title"] = "پابان ثبت نام";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">نقره یکتائی</></a></li>
            <li class="breadcrumb-item active" aria-current="page">پابان ثبت نام</li>
        </ul>
    </nav>
</div>


<main class="container">
    <div class="row">
        <div class="register-site col-lg-6 ">
            <div class="register-panel-page">
                <div class="register-panel-title text-center">

                    <h2> پابان ثبت نام </h2>
                    <div class="alert alert-success">
                        <h3>@Model.UserName عزیز !</h3>
                        <p>
                            ثبت نام شما با موفقیت انجام شد , ایمیلی حاویه لینک فعال سازی به ایمیل @Model.Email ارسال شده .
                        </p>
                        <p>
                            جهت ادامه روند ثبت نام وارد ایمیل شده و اکانت خود را فعال نمایید !
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<br />
<br />
<br />
